/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

.mobile-menu-modal .modal-dialog {
  margin: 0;
  padding: 0;
}
.mobile-menu-modal .modal-content {
  min-height: 100vh;
}
.video-popup-content {
  width: 100%;
  height: 100%;
  max-height: 500px;
}
.section-bg-1 {
  background-image: url("/assets/images/section-bg-1.png");
}
.section-bg-2 {
  background-image: url("/assets/images/section-bg-2.png");
}
.section-bg-3 {
  background-image: url("/assets/images/section-bg-3.png");
}
.section-bg-4 {
  background-image: url("/assets/images/section-bg-4.png");
}
.section-bg-5 {
  background-image: url("/assets/images/section-bg-5.png");
}
.section-bg-7 {
  background-image: url("/assets/images/section-bg-7.png");
}

.breadcrumbs-bg {
  background-image: url("/assets/images/breadcrumbs-bg.png");
}
