/*================================================================================================
    CallToAction1 Module CSS
    → Keep global classes, add module-specific helpers
===================================================================================================*/

.wrapper {
  z-index: 2;
}

.inner {
  overflow: hidden;
  padding: 30px 80px 0px 0px;
  position: relative;
}

.content {
  margin-top: 60px;
}

.imgWrapper {
  text-align: center;
  position: relative;
  z-index: 2;
}

.imgWrapper img {
  width: 332px;
  height: 448px;
  object-fit: cover;
}

.imgWrapper::before {
  position: absolute;
  content: "";
  width: 536px;
  height: 537px;
  border-radius: 537px;
  background: linear-gradient(180deg, #fff 0%, #d7e1d8 100%);
  left: 150;
  bottom: -118px;
  z-index: -1;
}
