/*================================================================================================
    Start Contact CSS
===================================================================================================*/

.ed-contact__card {
  padding-top: 70px;
}
.ed-contact__card-item {
  border-radius: 8px;
  background: var(--ed-offwhite-color);
  padding: 15px;
  margin-top: 40px;
  min-height: 250px;
  max-height: 500px;
}

.ed-contact__card-icon img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.ed-contact__card-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: var(--ed-primary-color);
  line-height: 100px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
}
.ed-contact__card-info a {
  display: block;
  color: var(--ed-title-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}
/*================================================================================================
    End Contact CSS
===================================================================================================*/
