/*================================================================================================
    Start Hero CSS
===================================================================================================*/

.section-bg.hero-bg {
  padding-top: 142px;
}
.section-bg.hero-bg-2 {
  padding-top: 92px;
}

.ed-hero {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  z-index: 2;
}
